*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.cardboard {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-items: center;
  font-size: 50px;
}
.number-bingo {
  display: grid;
  grid-template-columns: repeat(11, 50px);
}

.marked {
  background-color: rgb(229, 129, 129);
}
